In [6]:
import pandas as pd
from statsmodels import api as sm

df = pd.read_csv('dress_code_data.csv')  # type: pd.DataFrame

df.head()

   average_age  daily_revenue  dress_code  id
0    30.501964             93           1   1
1    39.853520            145           1   2
2    32.816251             68           0   3
3    53.218383            208           1   4
4    34.455073            160           1   5

In [7]:
combined = df['average_age'] * df['dress_code']

y = df['daily_revenue'].values

df_dress_code = pd.DataFrame({
    'average_age': df['average_age'],
    'dress_code': df['dress_code'],
    'int_age_dress': combined
})

x = sm.add_constant(df_dress_code)
results = sm.OLS(y, x).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.226
Model:                            OLS   Adj. R-squared:                  0.221
Method:                 Least Squares   F-statistic:                     38.63
Date:                Tue, 23 Aug 2016   Prob (F-statistic):           6.43e-22
Time:                        16:29:37   Log-Likelihood:                -1967.9
No. Observations:                 400   AIC:                             3944.
Df Residuals:                     396   BIC:                             3960.
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
const            97.4730      9.223     10.568      0.000        79.340   115.605
average_age       0.0602      0.223      0.270      0.787        -0.378     0.499
dress_code      -74.0847     13.035     -5.683      0.000       -99.712   -48.458
int_age_dress     2.1783      0.315      6.905      0.000         1.558     2.798
==============================================================================
Omnibus:                        4.982   Durbin-Watson:                   2.059
Prob(Omnibus):                  0.083   Jarque-Bera (JB):                6.088
Skew:                          -0.102   Prob(JB):                       0.0476
Kurtosis:                       3.569   Cond. No.                         427.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## To Do: 
- Add in graphs 
- Table of contents